@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");

.penguin-bg-orange {
  background-color: #fa804c;
}
.penguin-bg-light {
  background-color: #fff9f4;
}
.penguin-text-orange {
  color: #fa804c;
}
.penguin-text-dark {
  color: #363958;
}
.penguin-font-bebas {
  font-family: "Bebas Neue", cursive;
}
.penguin-font-roboto {
  font-family: "Roboto", sans-serif;
}
